.maininfobox{
  border:solid 1px red;
  display: flex;
  
}

.maininfobox1{
    width: 40%;
/* border:solid 2px black */
}
.maininfobox2{
    width: 60%;
    margin: 10px;
    /* border:solid 2px black */
}
.information{
  
}
.comments{
  
   border:solid 2px rgb(235, 231, 231);
   line-height: 25px;
   margin: 10px;
}
.cartbutton{
  max-width: 130px;
}